{
  "plugins": [
    [
      "module-extension-resolver",
      {
        "srcExtensions": ".coffee",
        "dstExtension": ".js"
      }
    ]
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
